In [1]:
# Imports
import pandas as pd

# Jupyter pip install packages (note: %pip installs within this instance of the notebook, not globally)
%pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.9/site-packages (2.0.1)
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import file and view examples
filename = "GE-DMYR-2015-Final-Rates.xls"
df = pd.read_excel(filename)
df.head()

,Institution Code (six-digit OPEID),Institution Name,City,State,Zip,Institution Type,CIP Code,CIP Name,Credential Level,Official Program Pass/Zone/Fail,...,Debt-to-Earnings Transitional Rate,Debt-to-Earnings Transitional Rate Numerator,Debt-to-Earnings Transitional Rate Denominator,Debt-to-Earnings Transitional Rate Pass/Fail/Zone,Debt-to-Earnings Transitional Discretionary Income Rate,Debt-to-Earnings Transitional Discretionary Income Rate Numerator,Debt-to-Earnings Transitional Discretionary Income Rate Denominator,Debt-to-Earnings Transitional Discretionary Income Rate Pass/Fail/Zone,Mean Annual Earnings From SSA,Median Annual Earnings from SSA
0,1007,CENTRAL ALABAMA COMMUNITY COLLEGE,ALEXANDER CITY,AL,350100000.0,PUBLIC 2 TO 3 YEARS,513901,LICENSED PRACTICAL/VOCATIONAL NURSE TRAINING.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32617,35061
1,1013,CALHOUN COMMUNITY COLLEGE,TANNER,AL,356710000.0,PUBLIC 2 TO 3 YEARS,513901,LICENSED PRACTICAL/VOCATIONAL NURSE TRAINING.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26219,31071
2,1017,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,120401,"COSMETOLOGY/COSMETOLOGIST, GENERAL.",01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12114,11605
3,1017,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,480508,WELDING TECHNOLOGY/WELDER.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29104,29702
4,1017,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,510909,SURGICAL TECHNOLOGY/TECHNOLOGIST.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21605,23598

In [3]:
# List of all columns
df.columns.tolist()

['Institution Code (six-digit OPEID)',
 'Institution Name',
 'City',
 'State',
 'Zip',
 'Institution Type',
 'CIP Code',
 'CIP Name',
 'Credential Level',
 'Official Program Pass/Zone/Fail',
 'Official Appeal Decision',
 'Appeal Status',
 'Debt-to-Earnings Annual Rate',
 'Debt-to-Earnings Annual Rate Numerator',
 'Debt-to-Earnings Annual Rate Denominator',
 'Debt-to-Earnings Annual Rate Pass/Fail/Zone',
 'Debt-to-Earnings Discretionary Income Rate',
 'Debt-to-Earnings Discretionary Income Rate Numerator',
 'Debt-to-Earnings Discretionary Income Rate Denominator',
 'Debt-to-Earnings Discretionary Income Rate Pass/Fail/Zone',
 'Debt-to-Earnings Transitional Rate',
 'Debt-to-Earnings Transitional Rate Numerator',
 'Debt-to-Earnings Transitional Rate Denominator',
 'Debt-to-Earnings Transitional Rate Pass/Fail/Zone',
 'Debt-to-Earnings Transitional Discretionary Income Rate',
 'Debt-to-Earnings Transitional Discretionary Income Rate Numerator',
 'Debt-to-Earnings Transitional Discretionary Income Rate Denominator',
 'Debt-to-Earnings Transitional Discretionary Income Rate Pass/Fail/Zone',
 'Mean  Annual Earnings From SSA',
 'Median Annual Earnings from SSA']

In [4]:
# Only keep needed columns
df = df[['Institution Name', 'City', 'State', 'Zip', 'Institution Type', 
         'CIP Code', 'CIP Name', 'Credential Level', 'Debt-to-Earnings Annual Rate', 
         'Mean  Annual Earnings From SSA', 'Median Annual Earnings from SSA']]

# Display new df
df.head()

,Institution Name,City,State,Zip,Institution Type,CIP Code,CIP Name,Credential Level,Debt-to-Earnings Annual Rate,Mean Annual Earnings From SSA,Median Annual Earnings from SSA
0,CENTRAL ALABAMA COMMUNITY COLLEGE,ALEXANDER CITY,AL,350100000.0,PUBLIC 2 TO 3 YEARS,513901,LICENSED PRACTICAL/VOCATIONAL NURSE TRAINING.,01 - UNDERGRADUATE CERTIFICATE,2.50,32617,35061
1,CALHOUN COMMUNITY COLLEGE,TANNER,AL,356710000.0,PUBLIC 2 TO 3 YEARS,513901,LICENSED PRACTICAL/VOCATIONAL NURSE TRAINING.,01 - UNDERGRADUATE CERTIFICATE,0.78,26219,31071
2,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,120401,"COSMETOLOGY/COSMETOLOGIST, GENERAL.",01 - UNDERGRADUATE CERTIFICATE,0,12114,11605
3,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,480508,WELDING TECHNOLOGY/WELDER.,01 - UNDERGRADUATE CERTIFICATE,0,29104,29702
4,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,510909,SURGICAL TECHNOLOGY/TECHNOLOGIST.,01 - UNDERGRADUATE CERTIFICATE,0,21605,23598

In [5]:
# Basic info about the DF (columns, data types)
print(df.shape)
print(df.info())

(8637, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8637 entries, 0 to 8636
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Institution Name                 8637 non-null   object
 1   City                             8637 non-null   object
 2   State                            8637 non-null   object
 3   Zip                              8632 non-null   float64
 4   Institution Type                 8637 non-null   object
 5   CIP Code                         8637 non-null   int64
 6   CIP Name                         8637 non-null   object
 7   Credential Level                 8637 non-null   object
 8   Debt-to-Earnings Annual Rate     8637 non-null   object
 9   Mean  Annual Earnings From SSA   8637 non-null   int64
 10  Median Annual Earnings from SSA  8637 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 742.4+ KB
None

In [6]:
# Percentage of data points that are 0 (primarily for Debt-to-Earnings Annual Rate)
(df == 0).astype(int).sum(axis=0) / len(df)

Institution Name                   0.000000
City                               0.000000
State                              0.000000
Zip                                0.000000
Institution Type                   0.000000
CIP Code                           0.000000
CIP Name                           0.000000
Credential Level                   0.000000
Debt-to-Earnings Annual Rate       0.167998
Mean  Annual Earnings From SSA     0.000000
Median Annual Earnings from SSA    0.007526
dtype: float64

In [7]:
# Export dummy data file (ONLY 10 records, used for stubbing)
df.head(10).to_json('dummy_data.json', orient='records')